.sources {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
    user-select: none;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #70d6ff;
    text-shadow: 0 2px 11px #70d6ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
    user-select: none;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0 15px 0 #3fcc59;
    transform: translateY(-0.25em) rotate(3deg);
}

.source__item:active {
    border-color: #e73c7e;
    color: #e73c7e;
    box-shadow: 0 0 15px 0 #e73c7e;
    transform: translateY(-0.25em) rotate(-3deg);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}
