:root {
    // background colors
    --bg-dark: #151719;
    --bg-blue: #24809E;
    --bg-white: #ffffff;
    --bg-gray: #666666;
    --dark-red: #710707;
    // font colors
    --font-gold: #9d8665;
    --font-white: #ffffff;
    --font-black: #000000;
    --font-gold: #9D8665;
    --filter-gold: invert(56%) sepia(44%) saturate(278%) hue-rotate(356deg) brightness(89%) contrast(86%);
    // font-sizes
    --font1: 80px;
    --font2: 32px;
}