body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    overflow-x: hidden;
    transition: 0.35s;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.footer-bottom {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.footer__logo {
    display: inline-block;
    background: url('./assets/images/svg/logo-school.svg') no-repeat;
    width: 84px;
    height: 40px;
    opacity: 0.6;
    transition: 0.3s;
}

.footer__logo:hover {
    opacity: 1;
    transform: skewX(-10deg) scale(1.2) rotate(10deg);
}

.footer__text {
    text-shadow: 0 2px 11px #70d6ff;
    font-size: 20px;
    color: #70d6ff;
    transition: 0.25s;
    text-decoration: none;
}

.footer__github {
    cursor: pointer;
}

.footer__github:hover {
    color: #fff;
    text-shadow: 0 2px 11px #fff;
    animation: selfRotate 5s infinite;
    transition: 1s all;
}

@keyframes selfRotate {
    0% {
        transform: skewX(-10deg) scale(1.2) rotate(0);
    }

    50% {
        transform: skewX(-10deg) scale(1.2) rotate(180deg);
    }

    100% {
        transform: skewX(-10deg) scale(1.2) rotate(360deg);
    }
}

.no-scroll {
    overflow-y: hidden;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1001;
    background: black;
}

.preloader__img {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    background: url('./assets/images/svg/preloader.svg') 0 0 / cover;
    transform: translate(-50%, -50%);
}

.page_state_loading > .preloader {
    transition: 1s all;
    opacity: 0;
}

.page_state_loaded > .preloader {
    display: none;
}
