body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    overflow-x: hidden;
    transition: 0.35s;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.no-scroll {
    overflow-y: hidden;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1001;
    background: black;
}

.preloader__img {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    background: url('./assets/images/svg/preloader.svg') 0 0 / cover;
    transform: translate(-50%, -50%);
}

.page_state_loading > .preloader {
    transition: 1s all;
    opacity: 0;
}

.page_state_loaded > .preloader {
    display: none;
}
