/* stylelint-disable indentation */

@font-face {
    font-family: "Neucha";
    font-weight: normal;
    src: 
        url("../assets/fonts/neucha/Neucha.eot") format("embedded-opentype"),
        url("../assets/fonts/neucha/Neucha.woff") format("woff"),
        url("../assets/fonts/neucha/Neucha.ttf") format("truetype"),
        url("../assets/fonts/neucha/Neucha.woff2") format("woff2");
}

@font-face {
    font-family: "Steppe";
    font-weight: normal;
    src: url("../assets/fonts/steppe/Steppe.otf") format("opentype"),
        url("../assets/fonts/steppe/Steppe.woff") format("woff"),
        url("../assets/fonts/steppe/Steppe.ttf") format("truetype"),
        url("../assets/fonts/steppe/Steppe.woff2") format("woff2");
}