// fonts
$font-heading: "Neucha", sans-serif;
$font-text: "Steppe", sans-serif;

// bcg color
$bcg-white: #ffffff;
$bcg-yellow: #fdd700;
$bcg-red: #fd0000;
$bcg-blue: #2299eb;
$bcg-green: #08aa05;

// font-color
$font-white: #ffffff;
