// font-colors
$font-color-white: #ffffff;
// bcg colors
$bcg-color-dark: rgba(0, 0, 0, 0.5);
//border-color
$border-color: #ffffff;
// fonts
$font-main: "Arial";
$font-sec: "Owfont";
$font-add: "Arial-MT";
