.contacts {
    display: block;

    &__content {
        padding: 75px 240px 69px;
    }

    &__heading {
        color: var(--font-gold);

        &::after {
            margin: 27px 0 75px;
        }
    }

    &__info {
        display: flex;
        column-gap: 198px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin: 0;

        &-heading {
            margin: 0 0 50px;
            font: 500 28px Roboto;
            line-height: 33px;
            color: var(--font-black);
        }

        &-info {
            width: max-content;
            margin: 0;
            font: 300 22px Roboto;
            line-height: 26px;
            color: var(--font-black);
            text-decoration: none;
            transition: 0.35s;

            &:nth-child(3) {
                margin: 25px 0;
            }

            &:nth-child(n+3):hover {
                color: var(--font-gold);
                text-shadow: 1px 2px 5px var(--font-gold);
            }
        }
    }
}
