.explore {
    display: block;
    background-color: var(--bg-dark);

    &__content {
        padding: 75px 240px 89px;
        display: flex;
        justify-content: space-between;

        @include media-custom(1919px) {
            flex-direction: column;
            align-items: center;
        }

        @include largeDesktops() {
            padding: 59px 0 76px;
        }

        @include mediumDesktops() {
            padding: 40px 0 52px;
        }
    }

    &__heading {
        color: var(--font-white);

        &::after {

            @include mediumDesktops() {
                margin-bottom: 25px;
            }

        }

        @include xsPhones() {
            font-size: 20px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin: 0;
        row-gap: 25px;
        font: 300 22px Roboto;
        line-height: 38px;
        color: var(--font-white);
        max-width: 660px;

        @include largeDesktops() {
            max-width: none;
            row-gap: 0;
            font-size: 20px;
            line-height: 38px;
        }

        & p {

            @include mediumDesktops() {
                display: none;
            }

            margin: 0;

            &:nth-child(3) {

                @include largeDesktops() {
                    display: none;
                }
            }
        }
    }

    &__info {
        margin: 0 60px 0 0;
        width: 100%;

        @include media-custom(1919px) {
            margin: 0;
        }
    }

    &__pic {
        margin: 0;
        width: auto;

        @include mediumDesktops() {
            width: 100%;
        }

        @include reviews() {
            width: 100%;
        }

        &-container {
            position: relative;
            top: 15px;
            margin: 0;
            width: 100%;
            max-height: 705px;

            @include media-custom(1920px) {

                @include flex();
            }

            @include media-custom(1600px) {
                margin-top: 44px;
            }

            @include mediumDesktops() {
                margin-top: 0;
            }
        }

        &-range {
            position: absolute;
            left: 421px;
            content: "";
            display: inline-block;
            width: 39px;
            height: 100%;
            background: url(../images/comparison_line.svg) center 0/cover;

            @include largeDesktops() {
                left: 553px;
            }

            @include mediumDesktops() {
                background-position-y: 11px;
                left: 421px;
            }

            @include reviews() {
                left: 220px;
                width: 20px;
                height: 100%;
            }

            @include sPhones() {
                background-position-y: 5px;
            }

            @include xsPhones() {
                left: 100px;
            }
        }
    }
}
