.gallery {
    display: block;
    background-color: var(--border-gray);
    max-height: 2200px;
    overflow: hidden;

    @include media-custom(1600px) {
        max-height: 1460px;
    }

    @include mediumDesktops() {
        max-height: 1220px;
    }

    @include reviews() {
        max-height: 757px;
    }

    &-container {
        position: relative;
        max-height: 2200px;

        @include media-custom(1600px) {
            max-height: 1460px;
        }

        @include mediumDesktops() {
            max-height: 1220px;
        }

        @include reviews() {
            max-height: 757px;
        }
    }

    &__content {
        padding: 75px 240px 0;

        @include media-custom(1919px) {
            padding: 60px 0 40px;
        }

        @include mediumDesktops() {
            padding: 41px 0 60px;
        }
    }

    &__heading {
        color: var(--font-white);
        margin-bottom: 75px;

        @include media-custom(1600px) {
            margin-bottom: 60px;
        }

        @include mediumDesktops() {
            margin-bottom: 40px;
        }
    }

    &__gridList {
        display: grid;
        justify-content: space-between;
        row-gap: 24px;
        column-gap: 36px;
        grid-auto-flow: dense;
        grid-auto-rows: 1fr;
        padding: 0;

        @include mediumDesktops() {
            column-gap: 24px;
            row-gap: 13px;
        }
    }

    &__gridItem {
        height: fit-content;
        position: relative;

        &:nth-child(3n + 1) {
            top: 50px;
            grid-column-start: 1;
            grid-row-end: span 4;
        }

        &:nth-child(3n + 2) {
            grid-column-start: 2;
            grid-row-end: span 5;
        }

        &:nth-child(3n + 3) {
            grid-column-start: 3;
            grid-row-end: span 3;
            top: 50px;
        }

        @include mediumDesktops() {
            &:nth-child(n + 1) {
                top: 0;
            }

            &:nth-child(2n + 1) {
                top: 50px;
                grid-column-start: 1;
                grid-row-end: span 4;
            }

            &:nth-child(2n + 2) {
                grid-column-start: 2;
                grid-row-end: span 3;
            }
        }
    }

    &__gradientContainer {
        max-width: 1440px;
        width: 1440px;
        height: 360px;
        position: absolute;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        bottom: 0;
        //left: 50%;
        //transform: translate(50% 50%);
    }
}
