.popup {
    &-container {
        padding: 0 25px;

        @include reviews() {
            padding: 0 29px;
        }
    }

    &-tickets {
        position: fixed;
        background: white;
        width: 100%;
        z-index: 1001;
        display: block;
        top: 50%;
        //top: 0;
        //left: 0;
        left: -3000px;
        transform: translate(-50%, -50%);

        @include mediumDesktops() {
            overflow: auto;
            height: 100%;
        }

        &_state {
            &_active {
                animation: 1s fromLeft;
            }

            &_disabled {
                animation: 1s toLeft;
            }
        }

        &__content {

            @include flex(row, space-between, center);

            padding: 90px 240px;
            //max-width: 1440px;
            position: relative;

            @include media-custom(1600px) {
                padding: 75px 0;
                justify-content: center;
            }

            @include mediumDesktops() {
                padding: 80px 0 40px;
                max-width: 590px;
            }

            @include reviews() {
                padding-bottom: 50px;
            }
        }

        &__registration {
            margin: 0;
            width: 100%;
        }

        &__btn {
            &-close {
                position: absolute;
                width: 25px;
                top: 30px;
                right: 13.3%;
                height: 25px;
                cursor: pointer;

                @include media-custom(1600px) {
                    right: 3px;
                }

                @include mediumDesktops() {
                    right: 5.7%;
                }

                @include mPhones() {
                    right: 1.5%;
                }

                &:hover::before,
                &:hover::after {
                    background-color: var(--font-gold);
                }

                &::before,
                &::after {
                    background: var(--bg-dark);
                    position: absolute;
                    display: inline-block;
                    content: "";
                    top: 11px;
                    width: 34px;
                    transform: translate(-50%, -50%);
                    height: 2px;
                    transition: 0.35s;
                }

                &::before {
                    transform: rotate(45deg);
                }

                &::after {
                    transform: rotate(135deg);
                }
            }
        }

        &__form {

            @include flex(row, space-between, flex-start);

            max-width: 970px;
            width: 100%;
            column-gap: 40px;

            @include mediumDesktops() {
                flex-direction: column;
                width: 100%;
                max-width: 530px;
            }
        }

        &__logo {
            width: 85px;
            height: 43px;
            filter: var(--filter-gold);
            background: url(../images/logo.svg) 0 0/contain no-repeat;
            margin: -3px 0 0 2px;
        }

        &__heading {
            font-size: 50px;
            color: var(--font-gold);
            line-height: 58px;
            letter-spacing: 0.1px;
            margin-bottom: 10px;

            @include media-custom(992px) {
                font-size: 40px;
                letter-spacing: -2px;
            }

            @include mediumDesktops() {
                margin-bottom: 12px;
                font-size: 50px;
                letter-spacing: 0.1px;
            }

            @include reviews() {
                margin-bottom: 16px;
                font-size: 32px;
                line-height: 35px;
            }
        }

        &__text {
            margin-left: 1px;
            letter-spacing: -0.1px;

            &.line::after {
                margin: 9px 0 61px;

                @include mediumDesktops() {
                    margin-bottom: 39px;
                }
            }
        }

        &__info {

            @include flex(column, center, center);

            padding-left: 1px;
            margin: 0;

            @include mediumDesktops() {
                width: 100%;
                margin-left: 0;
            }
        }

        &__input {
            &-date {
                //margin-right: 20px;
                content: attr(placeholder);
            }

            &-time {
                &::after {
                    right: 15px;
                }
            }

            &-date.input,
            &-time.input {
                max-width: 190px;
                width: 100%;

                @include mediumDesktops() {
                    max-width: 251px;
                    width: 100%;
                }

                @include reviews() {
                    max-width: none;
                }
            }

            &-select {
                appearance: none;
                color: var(--font-black);
                opacity: 1;
            }
        }

        &__inputContainer {
            display: block;
            position: relative;
            margin-bottom: 20px;

            @include mediumDesktops() {
                margin: 0 0 20px 0;
            }

            &::before,
            &::after {
                position: absolute;
                content: "";
                display: inline-block;
                background-repeat: no-repeat;
                //background: no-repeat 0 0/cover center center;
            }
        }

        &__subheading {
            font: 18px Forum, sans-serif;
            line-height: 20px;
            letter-spacing: 0.1px;
            color: var(--font-gold);
            text-transform: none;

            &.line::after {
                margin: 5px 0 15px;
            }
        }

        &__costContainer {
            border: 1px solid var(--font-black);
            width: 100%;
            padding: 9px 14px 14px;

            @include mediumDesktops() {
                margin-bottom: 51px;
            }
        }

        &__basic {

            @include flex(row, space-between, center);

            margin-bottom: 17px;
        }

        &__senior {

            @include flex(row, space-between, center);
        }

        &__basic, &__senior {

            @include xsPhones() {
                flex-direction: column;
                row-gap: 10px;
            }
        }

        &__container {
            border: none;
            padding: 0;
            max-width: 105px;
            position: relative;

            @include reviews() {
                position: static;
                margin: 0;
            }

            &.container_indent_top:last-child {
                top: -1px;
                right: 0;
            }

            &:last-child {
                top: 0;
                right: -1px;
            }

            & button {
                //display: flex;
                width: 35px;
                height: 25px;
                line-height: 21px;
            }

            & input {
                margin: 0;
                background-color: var(--bg-white);
                border: 1px solid var(--font-black);
                color: var(--font-black);
                font-size: 18px;
                line-height: 21px;
                max-width: 35px;
                text-align: center;
            }
        }

        &__requisites {
            max-width: 530px;
            margin: 0;
            width: 100vw;

            @include flex(column, center, flex-end);

            border: 1px solid var(--border-gray);
            box-sizing: border-box;

            @include reviews() {
                width: 100%;
            }

            &-info {
                position: relative;
                width: 100%;
                padding: 24px 29px 0;
                box-sizing: border-box;

                @include mediumDesktops() {
                    padding: 24px 15px 0;
                }

                &::before {
                    position: absolute;
                    content: "";
                    right: 29px;
                    background: url(../images/louvre.jpg) 0 0/cover no-repeat;
                    width: 150px;
                    height: 120px;

                    @include mediumDesktops() {
                        right: 15px;
                    }

                    @include reviews() {
                        width: 120px;
                        height: 96px;
                    }

                    @include xsPhones() {
                        display: none;
                    }
                }
            }

            &-text {
                margin: 0;

                &:nth-child(1) {
                    font-size: 32px;
                    line-height: 39px;

                    @include xsPhones() {
                        font-size: 20px;
                    }
                }
            }

            /* &-text.text {
                font-size: var(--font2);
                font-weight: 500;
                line-height: 37px;
            } */

            &-textTotal {
                margin-right: 0;
            }

            &-heading.text {
                font-size: 22px;
                line-height: 30px;
            }

            &-cost {
                margin-top: 20px;
            }

            &-basic,
            &-senior {

                @include flex(row, space-between, center);

                font: 400 22px Roboto, sans-serif;
                line-height: 26px;

                @include xsPhones() {
                    font-size: 14px;
                }
            }

            &-basic {
                margin-bottom: 6px;
            }

            &-basicInfo {

                @include flex(row, space-between, center);

                margin-left: 0;
            }

            &-amount {
                background: #030303;
                color: #a4a4a3;
                font-family: Roboto, sans-serif;
                padding: 0 11px 0;
                border-radius: 5px;
                margin: -1px 10px 0 0;
            }

            &-total {
                position: relative;
                margin: 20px 0 10px 1px;
                font: 400 32px Roboto, sans-serif;
                line-height: 37px;

                @include flex(row, space-between, center);

                @include xsPhones() {
                    font-size: 20px;
                }

                &.line::after {
                    position: absolute;
                    top: -13px;
                    margin: 0;

                    @include mediumDesktops() {
                        top: -12px;
                    }
                }
            }
        }

        &__date {
            &-list {

                @include flex(column, center, center);

                margin-top: 4px;
            }

            &-item {
                margin: 0;
                width: 100%;
                text-align: left;
                line-height: 27px !important;
                font: 300 18px Roboto, sans-serif;

                @include flex(row, flex-start, center);

                @include xsPhones() {
                    font-size: 14px;
                }
            }
        }

        &__dateContainer {

            @include onlyFlex();

            column-gap: 20px;

            @include mediumDesktops() {
                margin: 0;
                width: 100%;
                justify-content: space-between;
            }

            @include reviews() {
                flex-direction: column;
            }
        }

        &__paymentCard {
            position: relative;
            padding-left: 30px;
            //margin-left: 30px;
            width: 100%;

            @include mediumDesktops() {
                margin: 5px 0 0;
                padding: 0;
            }

            @include reviews() {

                @include flex(column, center, center);

                padding: 0 15px;
                //margin: 0;
                width: 100%;
            }

            &-dateContainer:first-child {
                /* @include flex(row, space-between, center);
                margin-bottom: 20px;
            */
                margin-right: 15px;
            }

            &-front {
                position: relative;
                padding: 15px 20px 3px;
                z-index: 1;
                margin-left: 0;
                max-width: 360px;
                background-color: #bcbcbc;
                border-radius: 4px;

                @include flex(column, center, flex-start);

                @include mediumDesktops() {
                    max-width: 360px;
                    margin-left: 15px;
                }

                @include reviews() {
                    width: 100%;
                    margin: 0 0 25px 0;
                    letter-spacing: -0.6px;
                }

                &::before {
                    display: inline-block;
                    content: "";
                    position: absolute;
                    right: 21px;
                    top: 33px;
                    background: url(../images/icons/icon_payment.svg);
                    width: 55px;
                    height: 63px;

                    @include xsPhones() {
                        display: none;
                    }
                }
            }

            &-back {
                background-color: #939393;
                position: absolute;
                //z-index: -1;
                bottom: -30px;
                right: 29px;
                max-width: 360px;
                width: 360px;
                height: 100%;
                padding: 15px 20px;
                border-radius: 4px;

                @include flex(column, center, flex-start);

                @include mediumDesktops() {
                    right: 14px;
                }

                @include reviews() {
                    position: relative;
                    left: 0;
                    top: 0;
                    z-index: 0;
                    width: 100%;
                }

                &::before {
                    display: inline-block;
                    position: absolute;
                    content: "";
                    top: 25px;
                    right: 0;
                    width: 360px;
                    height: 45px;
                    background: var(--bg-dark);

                    @include reviews() {
                        width: 100%;
                    }
                }

                p {
                    margin-top: 7px;
                    padding: 0 10px;
                    font-size: 10px;
                    line-height: 12px;

                    @include reviews() {
                        margin-top: 5px;
                        padding: 0 9px 0 15px;
                        font-size: 9px;
                        line-height: 11px;
                    }
                }
            }

            &-info {
                margin-top: 71px;
                margin-right: 0;

                @include flex(column, center, center);

                max-width: 75px;

                @include reviews() {
                    margin-top: 72px;
                }
            }

            &-cvvInput {
                border: 1px solid #a4a4a3;
                max-width: 75px;
                height: 35px;
            }

            &-text {
                font: 12px Roboto, sans-serif;
                margin: 0 0 5px 0;

                @include reviews() {
                    margin-bottom: 4px;
                }
            }

            &-date {
                margin: 0 0 10px;

                @include onlyFlex();
            }

            &-dateInput {
                text-align: left;
                padding: 8px 9px 12px;
                height: 35px;
                width: 72px;
                font: 12px "Roboto", sans-serif;
                border: 1px solid #a4a4a3;
                border-right: none;

                @include reviews() {
                    padding-top: 12px;
                    font-size: 13px;
                }

                @include xsPhones() {
                    width: 100%;
                    font-size: 9px;
                }
            }

            &-dateContainer {

                @include flex();
            }

            &-input {
                border: 1px solid #a4a4a3;
                margin-bottom: 10px;
                height: 35px;
            }


            /* &-back {
                //position: absolute;
                zin
            } */
        }

        &__btn {
            &-submit {
                &:hover {
                    background-color: var(--font-gold);
                }
            }

            &-submit.btn_type_action {
                border-radius: 0;
                padding: 11px 88px 7px 86px;
                margin: 56px 29px 25px 0;
                transition: 0.35s;

                @include mediumDesktops() {
                    padding: 8px 88px 10px 86px;
                    margin: 54px 14px 24px 0;
                }

                @include reviews() {
                    margin-top: 40px;
                }

                @include xsPhones() {
                    width: 100%;
                    margin: 20px 0;
                    padding: 10px;
                }

                &:hover span {
                    color: var(--font-white);
                }

                span {
                    font-weight: 300;
                    letter-spacing: -0.8px;
                }
            }
        }
    }
}

.input {
    border: 1px solid var(--font-black);
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding-left: 43px;

    &_margin_zero {
        margin: 0;
    }

    &:nth-child(n+3):nth-child(-n+6) {
        margin-bottom: 20px;
    }

    &_size {
        &_m {
            width: 100%;
            max-width: 215px;
        }

        &_l {
            width: 320px;

            @include reviews() {
                width: 100%;
            }
        }
    }

    &_type {
        &_date {
            &::before {
                background: url(../images/icons/icon_date.svg);
                width: 15px;
                height: 15px;
                left: 15px;
                top: calc(50% - 15px/2);
            }

            &::after {
                background: url(../images/icons/btn_arrow-select.svg);
                right: 17px;
                top: calc(50% - 17px / 2);
                width: 17px;
                height: 17px;

                @include reviews() {
                    right: 17px;
                }
            }
        }

        &_time {
            &::before {
                background: url(../images/icons/icon_time.svg);
                width: 15px;
                height: 15px;
                left: 15px;
                top: calc(50% - 15px/2);
            }

            &::after {
                background: url(../images/icons/btn_arrow-select.svg);
                right: 15px;
                top: calc(50% - 17px/2);
                width: 17px;
                height: 17px;
            }
        }

        &_text {
            width: 100%;

            &::before {
                background: url(../images/icons/icon_name.svg) no-repeat;
                width: 15px;
                height: 15px;
                left: 15px;
                top: calc(50% - 15px/2);
            }
        }

        &_email {
            width: 100%;

            &::before {
                background: url(../images/icons/icon_email.svg) no-repeat;
                width: 15px;
                height: 11px;
                left: 15px;
                top: calc(50% - 11px/2);
            }
        }

        &_phone {
            width: 100%;

            &::before {
                background: url(../images/icons/icon_tel.svg) no-repeat;
                width: 14px;
                height: 23px;
                left: 15px;
                top: calc(50% - 23px/2);
            }
        }

        &_select {
            width: 100%;

            &::before {
                background: url(../images/icons/icon_ticketType.svg) no-repeat;
                width: 15px;
                height: 15px;
                left: 15px;
                top: calc(50% - 15px/2);
            }

            &::after {
                background: url(../images/icons/btn_arrow-select.svg);
                right: 15px;
                top: calc(50% - 17px/2);
                width: 17px;
                height: 17px;
            }
        }
    }
}

.text {
    font: 400 18px Roboto, sans-serif;
}

.btn {
    &_state {
        &_ripple {
            position: relative;
            overflow: hidden;

            &:focus-visible {
                outline: none;
            }

            &::after {
                display: none;
                content: "";
                position: absolute;
                border-radius: 50%;
                background-color: rgba(180, 180, 180, 0.5);
                width: 100px;
                height: 100px;
                margin-top: -50px;
                margin-left: -50px;
                top: 50%;
                left: 50%;
                animation: ripple 1s;
                opacity: 0;
            }

            &:focus:not(:active)::after {
                display: block;
            }
        }
    }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    appearance: none;
}

::placeholder {
    color: var(--font-black);
    position: relative;
}

@each $elem in date, time, checked {
    .--icon-#{$elem} {
        background: url(../images/icons/icon_#{$elem}.svg);
        width: 15px;
        height: 15px;
        margin: 0 15px 0 0;
    }
}

.paymentCard {
    &-backText {
        letter-spacing: -0.2px;
        margin: 0 6px 5px 0;

        @include reviews() {
            margin: 0 0 5px;
            font-size: 13px;
        }
    }
}

.paymentCard-controls {
    width: 28px;
    height: 35px;
    border: 1px solid #a4a4a3;
    background: var(--bg-white);

    @include flex(column, center, space-between);

    &__arrow {

        @include flex(column, center, center);

        @each $el in up, down {
            &-#{$el} {
                background: url(../images/icons/icon_arrow-#{$el}.svg);
                width: 6px;
                height: 4px;
            }
        }

        &-up {
            margin-bottom: 3px;
        }
    }
}
