.tickets {
    display: block;

    &__content {
        padding: 75px 240px;

        @include media-custom(1600px) {
            padding: 60px 0;
        }
    }

    &__heading {
        color: var(--font-gold);

        &::after {
            margin: 24px 0 74px;
        }
    }

    &__preview {
        display: flex;

        @include reviews() {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &-pic {
            margin: 0;
        }
    }

    &__pic {
        margin: 0;
        width: auto;

        @include sPhones() {
            width: 100%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin: 0 240px 0 58px;

        @include media-custom(1919px) {
            display: none;
        }

        &-heading {
            font: bold 28px Roboto;
            line-height: 33px;
            color: var(--font-black);
            margin: 0 0 52px;
            top: 1px;
            left: 2px;
            position: relative;
            letter-spacing: 0;
        }

        &-text {
            font: 300 22px Roboto;
            line-height: 26px;
            color: var(--font-black);
        }

        &-checkbox {
            opacity: 0;

            &:checked ~ .checkmark::before {
                background: var(--font-black);
                position: relative;
                display: inline-block;
                content: "";
                width: 7px;
                height: 7px;
                transform: translate(-12%, -25%);
                top: -2px;
                left: 28%;
                border-radius: 50%;
            }
        }
    }

    &__amount {
        display: flex;
        margin-right: 0;
        flex-direction: column;

        @include reviews() {
            margin: 40px 0 0;
        }

        &-heading {
            margin-right: 0;
            font: bold 28px Roboto;
            line-height: 33px;
            color: var(--font-black);
            top: 1px;
            left: -1px;
            position: relative;
            letter-spacing: 0;

            @include largeDesktops() {
                margin: 0;
            }
        }

        &-text {
            font: 300 22px Roboto;
            line-height: 26px;
            color: var(--font-black);
            margin: 27px 0 14px 25px;

            @include largeDesktops() {
                margin-left: 0;
            }

            @include reviews() {
                font-size: 16px;
                line-height: 19px;
            }

            &:nth-child(4) {
                margin-top: 11px;
            }
        }
    }

    &__cost {
        margin: 50px 0 0;
        text-align: right;
        font: bold 28px Roboto;
        line-height: 33px;
        letter-spacing: 1.65px;
        color: var(--font-black);

        @include largeDesktops() {
            letter-spacing: 4px;
        }

        @include reviews() {
            margin-top: 40px;
        }
    }

    &__btn {
        &-container {
            border: 3px solid var(--font-black);
            max-width: 150px;
            display: flex;
            margin-right: 0;
            padding: 0 11px 0 9px;

            @include media-custom(1600px) {
                max-width: 175px;
            }

            & input::-webkit-inner-spin-button,
            & input::-webkit-outer-spin-button {
                appearance: none;
            }

            & button {
                font: normal 32px Roboto;
                //line-height: 37px;
                color: var(--font-black);
                background: none;
                border: none;
                width: 50px;
                height: 44px;
                cursor: pointer;
                line-height: 21px;
            }

            & .button_c_white {
                color: var(--font-white);
                background: var(--bg-dark);
                border: 1px solid var(--bg-dark);
            }

            & input {
                margin: 0;
                font: 300 22px Roboto;
                line-height: 21px;
                max-width: 35px;
                background: transparent;
                text-align: center;
                line-height: 24px;
                //max-width: 10px;
                //background-color: var(--font-white);
                border: none;
                color: var(--font-black);

                @include media-custom(1600px) {
                    max-width: 55px;
                }
            }
        }

        &-submit {
            background: var(--bg-dark);
            margin-top: 60px;
            border-radius: 1px;
            border: none;
            padding: 13px 36px 11px 38px;
            transition: 0.25s linear;
            cursor: pointer;

            &:hover {
                background-color: var(--font-gold);
            }
        }

        &-submit:hover &-text {
            color: var(--font-black) !important;
        }

        &-text {
            font: 300 22px Roboto;
            line-height: 26px;
            letter-spacing: 2.1px;
            color: var(--font-white);
            transition: 0.25s linear;

            @include reviews() {
                font-size: 16px;
                line-height: 0px;
            }
        }
    }
}

.label {
    &__container {
        position: relative;
        right: -25px;
        cursor: pointer;

        &:nth-child(3) {
            margin: 25px 0;
        }
    }
}

.checkmark {
    position: absolute;
    display: inline-block;
    content: "";
    width: 17px;
    height: 17px;
    border: 2px solid var(--bg-dark);
    border-radius: 50%;
    top: 4px;
    left: -23px;
}
