.video {
    display: block;

    &__content {
        flex-direction: column;
        padding: 90px 240px 75px;
    }

    &__pic {
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../images/video.jpg);
        max-width: 1440px;
        width: 100%;
        height: 629px;
    }

    &__btn-play {
        background: url(../images/icons/btn_play.svg);
        width: 220px;
        height: 220px;
        cursor: pointer;
        transition: 0.25s linear;
        border: none;
        
        &:hover {
            filter: var(--filter-gold);
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        background-color: var(--bg-dark);
        width: calc(100% - 82px);
        padding: 28px 41px;

        &-prev {
            background: url(../images/icons/btn_prev.svg);
            width: 27px;
            height: 30px;
        }

        &-play {
            margin: 0 41px;
            background: url(../images/icons/btn_play_small.svg);
            width: 23px;
            height: 30px;
        }

        &-next {
            background: url(../images/icons/btn_next.svg);
            width: 27px;
            height: 30px;
        }

        &-range {
            -webkit-appearance: none;
            background: linear-gradient(to right, var(--bg-blue) 0, var(--bg-blue) 47%, #c4c4c4 47%, #c4c4c4 100%);
            height: 8px;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: var(--font-white);
                cursor: w-resize;
                transition: 0.25s linear;
            }

            &:hover::-webkit-slider-thumb {
                transform: scale(1.3);
                background-color: var(--font-gold);
            }
        }

        &-mute {
            background: url(../images/icons/btn_sound.svg);
            width: 38px;
            height: 30px;
        }

        &-fullscreen {
            background: url(../images/icons/btn_fullscreen.svg);
            width: 36px;
            height: 36px;
        }


    }

    &__info {
        display: flex;
        align-items: center;
        margin: 33px 0 0;
        column-gap: 115px;
    }

    &__heading {
        width: 100%;
        max-width: 606px;
        text-transform: uppercase;
        color: var(--font-gold);
    }

    &__text {
        font: 300 22px Roboto; 
        line-height: 38px;
        color: var(--font-black);
    }
}

.range_elem {

    &_time {
        width: 820px;
        margin: 0 41px;
    }

    &_sound {
        width: 155px;
        margin: 0 48px 0 20px;
    }
}

.btn_size {

    &_cover {
        background-size: cover;
        border: none;
        //margin: 0;
        transition: 0.25s;
        cursor: pointer;

        &:hover {
            filter: var(--filter-gold);
        }
    }
}
