@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.video {
    display: block;

    &__content {
        flex-direction: column;
        align-items: center;
        padding: 75px 240px;
        @include media-custom(1600px) {
            padding: 59px 0;
        }

        @include mediumDesktops() {
            padding: 39px 0;
        }

        @include reviews() {
            padding: 36px 0 40px;
        }
    }

    &__container {

        @include flex(column, center, center);

        width: 100%;

        &_state_fullscreen {
            justify-content: space-between;
        }
    }

    &__container-main {
        position: relative;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1440px;
        width: 100%;
        height: 649px;

        &_state_fullscreen {
            max-width: none !important;
            height: 100% !important;
        }

        & video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include media-custom(1600px) {
            max-width: none;
            height: 444px;
            background-position: center;
        }

        @include mediumDesktops() {
            height: 329px;
        }

        @include reviews() {
            height: 172px;
        }
    }

    &__btn-play {
        position: absolute;
        background: url(../images/icons/btn_play.svg) center/cover;
        width: 220px;
        height: 220px;
        cursor: pointer;
        transition: 0.25s linear;
        border: none;

        &_state_fade {
            opacity: 0;
        }

        @include largeDesktops() {
            width: 152px;
            height: 152px;
        }

        @include mediumDesktops() {
            width: 80px;
            height: 80px;
        }

        @include reviews() {
            width: 50px;
            height: 50px;
        }

        &:hover {
            filter: var(--filter-gold);
        }
    }

    &__controls {
        position: relative;

        @include flex(row, space-between, center);

        background-color: var(--bg-dark);
        margin: 0;
        width: 100%;
        padding: 25px 31px 24px;

        @include media-custom(1600px) {
            padding: 13px 39px 17px 40px;
        }

        @include mediumDesktops() {
            padding: 15px 31px 11px;
        }

        @include reviews() {
            padding: 16px 20px;
        }

        @include sPhones() {
            padding: 20px 20px 16px;
        }

        &-play {
            margin: 0 49px 0 0;
            background: url(../images/icons/btn_play_small.svg) center/cover;
            max-width: 23px;
            height: 30px;
            cursor: pointer;

            &_state_pre-pause {
                background: url(../images/icons/btn_pause.svg) center/cover;
            }

            @include largeDesktops() {
                margin-right: 30px;
            }

            @include mediumDesktops() {
                margin-right: 34px;
            }

            @include reviews() {
                margin-right: 30px;
                max-width: 14px;
                height: 18px;
            }
        }

        &-range {
            appearance: none;
            background: linear-gradient(to right, var(--dark-red) 0, var(--dark-red) 53%, #c4c4c4 53%, #c4c4c4 100%);
            height: 8px;

            @include largeDesktops() {
                height: 5px;
            }

            @include mediumDesktops() {
                height: 4px;
            }

            &::-webkit-slider-thumb {
                appearance: none;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: var(--font-white);
                cursor: w-resize;
                transition: 0.25s linear;

                @include media-custom(1600px) {
                    width: 13px;
                    height: 13px;
                }

                @include reviews() {
                    width: 10px;
                    height: 10px;
                }
            }

            &:hover::-webkit-slider-thumb {
                transform: scale(1.3);
                background-color: var(--font-gold);
            }
        }

        &-mute {
            margin: 0 48px;
            max-width: 38px;
            height: 30px;
            background: url(../images/icons/btn_sound.svg) center/cover;

            &_state_mute {
                background: url(../images/icons/btn_mute.svg) center/cover;
            }

            @include largeDesktops() {
                margin: 0 30px;
                max-width: 27px;
                height: 21px;
            }

            @include mediumDesktops() {
                margin: 0 35px 0 0;
            }

            @include reviews() {
                max-width: 18px;
                height: 14px;
            }
        }

        &-fullscreen {
            margin-left: 47px;
            max-width: 36px;
            height: 36px;
            background: url(../images/icons/btn_fullscreen.svg) center/cover;

            @include largeDesktops() {
                margin-left: 30px;
                max-width: 27px;
                height: 27px;
            }

            @include mediumDesktops() {
                margin-left: 35px;
            }

            @include reviews() {
                margin-left: 30px;
                max-width: 18px;
                height: 18px;
            }
        }
    }

    &__info {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 0 0 76px 0;
        column-gap: 114px;
        text-align: left;

        @include largeDesktops() {
            margin-bottom: 40px;
        }

        @include mediumDesktops() {
            margin-bottom: 21px;
        }
    }

    &__heading {
        width: 100%;
        max-width: 606px;
        text-transform: uppercase;
        color: var(--font-gold);

        @include media-custom(1919px) {
            margin-left: 0;
        }
    }

    &__text {
        font: 300 22px Roboto;
        line-height: 41px;
        color: var(--font-black);

        @include media-custom(1919px) {
            display: none;
        }
    }

    &-slider {
        width: 100%;
        overflow: hidden;

        &__playlist {

            @include flex(row, space-between, center);

            margin-top: 38px;

            @include mediumDesktops() {
                margin-top: 21px;
            }

            @include reviews() {
                margin-top: 40px;
            }

            /*@include media-custom(419px) {
                flex-direction: column;
            }*/
        }

        &__item {
            display: none;

            &:hover .video-slider__youtube-shape {
                fill: #ff0000;
                fill-opacity: 1;
            }

            margin: 0;
            position: relative;
            width: fit-content;

            @include media-custom(1023px) {
                &:nth-child(3) {
                    display: none;
                }
            }
        }

        &__item:hover .video-slider__youtube-shape,
        &__youtube-btn:focus .video-slider__youtube-shape {
            fill: #ff0000;
            fill-opacity: 1;
        }

        &__controls {
            width: fit-content;

            @include flex();

            margin-top: 36px;

            @include mediumDesktops() {
                margin: 16px 0 41px;
            }

            @include reviews() {
                margin: 36px 0 0;
            }
        }

        &__btn {
            &-prev {
                mask: url(../images/icons/btn-video-slider-prev.svg) no-repeat center/cover;
                cursor: pointer;
            }

            &-next {
                mask: url(../images/icons/btn-video-slider-next.svg) no-repeat center/cover;
                cursor: pointer;
            }
        }

        &__pagination {
            margin: 0 20px;
        }

        &__dot {
            display: inline-block;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            background-color: #999999;
            cursor: pointer;
            transition: 0.35s;

            @include mediumDesktops() {
                width: 10px;
                height: 10px;
            }

            @include reviews() {
                width: 8px;
                height: 8px;
            }

            &:hover {
                background-color: var(--dark-red);
            }

            /*&:first-child {
                background-color: #333333;
            }*/
            &.swiper-pagination-bullet-active {
                background-color: #333333;
            }

            &:nth-child(-n+4) {
                margin-right: 20px;
            }
        }

        &__iframe {
            top: 0;
            left: 0;

            @include flex(row, space-between, center);

            margin: 0 auto;
            width: 100%;
            object-fit: none;
            max-width: 452px;
            max-height: 254px;
            border: none;

            @include largeDesktops {
                max-width: 300px;
                height: 170px;
                object-fit: cover;
            }

            @include media-custom(1023px) {
                max-width: 354px;
                //width: 354px;
                height: 199px;
            }

            @include reviews() {
                max-width: 180px;
                height: 101px;
            }
        }

        &__youtube {

            &-btn {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 68px;
                height: 48px;
                border: none;
                transform: translate(-50%, -50%);
                background-color: transparent;
                outline: none;

                &_state_active {
                    display: block;
                    cursor: pointer;
                    width: 100%;
                    max-width: 452px;

                    @include media-custom(1919px) {
                        width: fit-content;
                    }

                    @include tablet() {
                        max-width: 354px;
                    }
                }
            }

            &-shape {
                fill: #212121;
                fill-opacity: 0.8;
                transition: 0.15s;
            }
        }
    }
}

.range_elem {
    &_time {
        max-width: 929px;
        width: 100%;
        margin: 0;

        @include largeDesktops() {
            max-width: 564px;
        }

        @include mediumDesktops() {
            position: absolute;
            top: -2px;
            left: 0;
            width: 100%;
            max-width: none;
            height: 5px;
        }

        @include sPhones() {
            top: 0;
            height: 4px;
        }
    }

    &_sound {
        max-width: 155px;
        width: 100%;
        background: linear-gradient(to right, var(--dark-red) 0, var(--dark-red) 100%, #c4c4c4 100%, #c4c4c4 100%);

        @include largeDesktops() {
            max-width: 143px;
        }

        @include mediumDesktops() {
            max-width: 486px;
        }
    }
}

.btn_size {
    &_cover {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
        transition: 0.25s;
        cursor: pointer;

        &:hover {
            filter: var(--filter-gold);
        }
    }
}

.arrow {
    display: inline-block;
    width: 10px;
    height: 12px;
    transition: 0.35s;
    background-color: #999999;

    @include reviews() {
        width: 7px;
        height: 8px;
    }

    &:hover {
        background-color: var(--dark-red);
    }
}

video::-webkit-media-controls {
    display:none !important;
}

.rewinder {
    &_width {
        &_full {
            max-width: none;
        }
    }
}

.playback-rate {
    position: absolute;
    display: inline-block;
    width: fit-content;
    border: 1px solid #000000;
    box-shadow: 0 0 20px 5px var(--dark-red);
    top: 20%;
    background: var(--bg-dark);
    color: white;
    right: 10%;
    font: 300 30px Roboto;
    user-select: none;
    border-radius: 50%;
    padding: 15px 5px;
    opacity: 0;

    &_state_fadeIn {
        opacity: 1;
        animation: fadeIn 0.5s;
    }

    &_state_fadeOut {
        opacity: 0;
        animation: fadeOut 0.5s;
    }
}
