.welcome {
    display: block;
    background-color: var(--bg-dark);

    &__content {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        padding: 149px 240px 0 240px;
        z-index: 999;

        &::before, &::after {
            position: absolute;
            content: "";
            z-index: -999;
            top: 0;
            right: 240px;
            width: 1000px;
            height: 750px;
        }

        &::before {
            background: url(../images/welcome-slider/1.jpg) no-repeat;
           
        } 

        &::after {
            background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
        }
    }

    &__text {
        display: inline-block;
        font: 300 28px Roboto;
        line-height: 33px;
        letter-spacing: 2px;
        margin: 26px 0 76px;
    }

    &-slider {

        &__controls {
            @include flex(center, space-between, center);
            margin-top: 150px;
            background-color: var(--bg-dark);
            width: fit-content;
            padding: 46px 75px 48px 73px;
            margin-right: 0;
        }

        &__pagination {
            font: 400 22px Roboto, sans-serif; 
            margin-right: 53px;
            letter-spacing: 2px;
        }

        &__dots {
            @include flex(row, center, center);

            & li:nth-child(-n+4) {
                margin-right: 25px;
            }
        }

        &__btn {
            display: inline-block;
            width: 30px;
            height: 8px;
            background: no-repeat 0 0/cover;
            margin-left: 60px;
            cursor: pointer;
            transition: 0.35s;

            &:hover {
                filter: var(--filter-gold);
            }

            &-prev {
                background-image: url(../images/icons/btn_welcome-slider_prev.svg);
            }

            &-next {
                background-image: url(../images/icons/btn_welcome-slider_next.svg);
                margin-left: 20px;
            }
        }

    }

    &__btn {
        max-width: 360px;
        text-decoration: none;
        transition: 0.35s;

        &:hover {
            background-color: var(--font-gold);
        }

        &:hover span {
            color: var(--font-white);
        }
    }
}

.dot { 
    width: 16px;
    height: 16px;
    background-color: var(--bg-white);
    transition: 0.35s;
    cursor: pointer;

    &:first-child {
        background-color: #D2B183;
    }

    &:hover {
        background-color: var(--font-gold);
    }
}