.welcome {
    display: block;
    background-color: var(--bg-dark);

    &__content {

        @include flex(column, flex-start, flex-start);

        position: relative;
        flex-direction: column;
        align-items: flex-start;
        padding: 149px 240px 0;
        z-index: 999;

        @include media-custom(1600px) {
            padding: 50px 0 4px;
        }

        @include mediumDesktops() {
            align-items: center;
            padding: 0 0 21px;
        }

        @include reviews() {
            padding: 14px 0;
        }

        @include sPhones() {
            padding: 14px 0 10px;
        }

        &::before,
        &::after {
            position: absolute;
            content: "";
            z-index: -999;
            top: 0;
            right: 240px;
            width: 1000px;
            height: 750px;

            @include media-custom(1600px) {
                width: 700px;
                height: 525px;
                right: 0;
            }

            @include largeDesktops() {
                display: none;
            }
        }

        &::after {
            background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
        }
    }

    &__image {
        //position: absolute;
        top: 0;
        right: 0;
        //z-index: -1;
        margin-right: 240px;
        max-width: 1000px;
        cursor: grab;

        @include media-custom(1600px) {
            margin-right: 0;
            max-width: 700px;
        }

        @include mediumDesktops() {
            position: relative;
            max-width: none;
        }
    }

    &__heading {
        margin: 0;
        user-select: none;

        @include media-custom(1600px) {
            margin-left: 0;
            width: fit-content;
            font-size: 50px;
            line-height: 90px;
        }

        @include mediumDesktops() {
            text-align: center;
            font-size: 40px;
            line-height: 60px;
        }

        @include reviews() {
            position: relative;
            left: -5px;
            font-size: 28px;
            line-height: 40px;
        }

        @include xsPhones() {
            word-break: break-all;
        }
    }

    &__text {
        display: inline-block;
        font: 300 28px Roboto;
        line-height: 33px;
        letter-spacing: 2px;
        margin: 26px 0 76px;
        transition: 0.75s;
        user-select: none;

        &_state_fade {
            opacity: 0;
        }

        @include media-custom(1600px) {
            margin-bottom: 50px;
            font-size: 24px;
            line-height: 28px;
        }

        @include mediumDesktops() {
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 47px;
        }

        @include reviews() {
            margin-bottom: 49px;
            font-size: 16px;
            line-height: 19px;
        }
    }

    &-slider {

        @include onlyFlex();

        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        overflow: hidden;

        @include mediumDesktops() {
            position: relative;
        }

        &__wrapper {

            @include onlyFlex();
        }

        &__slide {

            @include onlyFlex();
        }

        &__controls {

            @include flex(center, space-between, center);

            margin-top: 146px;
            background-color: var(--bg-dark);
            width: fit-content;
            padding: 42px 75px 40px 73px;
            margin-right: 0;

            @include media-custom(1600px) {
                margin-top: 72px;
                padding-top: 39px;
            }

            @include mediumDesktops() {
                margin: 25px 0 10px;
                padding: 0;
            }

            @include reviews() {
                margin-top: 16px;
            }

            @include xsPhones() {
                flex-direction: column;
            }
        }

        &__pagination {
            font: 400 22px Roboto, sans-serif;
            margin-right: 53px;
            letter-spacing: 2px;
            line-height: 40px;

            @include media-custom(1600px) {
                margin-right: 42px;
                font-size: 20px;
            }

            @include reviews() {
                margin-right: 25px;
                font-size: 16px;
                letter-spacing: 0.4px;
            }
        }

        &__dots {

            @include flex(row, center, center);

            @include reviews() {
                margin-right: 25px;
            }

            & li:nth-child(-n+4) {
                margin-right: 25px;

                @include reviews() {
                    margin-right: 10px;
                }
            }
        }

        &__btn {
            display: inline-block;
            width: 30px;
            height: 8px;
            background: no-repeat 0 0/cover;
            margin-left: 60px;
            cursor: pointer;
            transition: 0.35s;

            @include media-custom(1600px) {
                margin-left: 45px;
            }

            @include largeDesktops() {
                margin-left: 45px;
            }

            @include reviews() {
                margin-left: 25px;
            }

            &:hover {
                filter: var(--filter-gold);
            }

            &-prev {
                background-image: url(../images/icons/btn_welcome-slider_prev.svg);

                @include reviews() {
                    width: 20px;
                    margin: 0 15px 0 0;
                }

                @include xsPhones() {
                    margin: 20px auto 10px;
                }
            }

            &-next {
                background-image: url(../images/icons/btn_welcome-slider_next.svg);
                margin-left: 20px;

                @include reviews() {
                    width: 20px;
                    margin-left: 0;
                    background-position-x: -10px;
                }

                @include xsPhones() {
                    margin: 10px auto 0;
                }
            }
        }
    }

    &__btn {
        max-width: 360px;
        text-decoration: none;
        transition: 0.75s;

        &_state_fade {
            opacity: 0;
        }

        @include media-custom(1600px) {
            padding: 16px 44px 15px 45px;
            max-width: 301px;
            height: 60px;
            font-size: 20px;
            line-height: 23px;
        }

        @include mediumDesktops() {
            display: none;
        }

        &:hover {
            background-color: var(--font-gold);
        }

        &:hover span {
            color: var(--font-white);
        }
    }
}

.dot {
    width: 16px;
    height: 16px;
    background-color: var(--bg-white);
    transition: 0.35s;

    @include media-custom(1600px) {
        width: 12px;
        height: 12px;
    }

    @include reviews() {
        width: 7px;
        height: 7px;
    }

    &:hover {
        background-color: var(--font-gold);
        cursor: pointer;
    }
}

.swiper-pagination-bullet-active {
    background-color: #d2b183;
}
