.header {
    &-categories {
        &__content {

            @include flex(row, flex-start ,center);

            width: 100%;
            padding: 44px 47px 0 52px;

            @include reviews {
                justify-content: space-between;
                padding: 22px 0 0;
            }

            .categories__text {
                margin: 0 89px;

                @include tablet {
                    margin: 0 20px;
                }

                @include reviews {
                    display: none;
                }
            }

            button {

                @include reviews {
                    display: none;
                }
            }
        }
    }
}

#categories {
    flex: 1;
}
