// font colors
$font-color-dark: #010101;
$font-color-pink: #ffbca2;
$font-color-white: #ffffff;

// bcg colors
$bcg-color-dark: #010101;
$bcg-color-gray-first: #a4a4a4;
$bcg-color-gray-second: #c4c4c4;
$bcg-color-green: rgba(61, 218, 105, 0.5);
$bcg-color-pink: #ffbca2;
$bcg-color-red: rgba(255, 126, 126, 0.5);
$bcg-color-white: #ffffff;

// border colors
$border-color-dark: #010101;
$border-color-pink: #ffbca2;
$border-color-white: #ffffff;

// font
$font-main: "Gilroy", sans-serif;

// transition
$trans: 0.35s linear;
