.main-page {
    flex: 1;

    &__content {

        @include flex(column, center, center);

        width: 100%;
        padding-top: 387px;
    }

    &__heading {
        max-width: 593px;
        padding: 67px 85px;
        border: 2px solid $border-blue;
        backdrop-filter: blur(15px);
        border-radius: 30px;
        font-size: 53px;
        line-height: 58px;
        text-align: center;      
        text-transform: uppercase;
    }

    &__link {
        padding: 13px 119px 12px;
        border: 2px solid $border-blue;
        margin-top: 126px;
        backdrop-filter: blur(15px);
        border-radius: 30px;
        text-transform: capitalize;
    }
}
