.footer {
  display: block;
  background-color: $bcg-dark-green;

  &__content {
    justify-content: space-between;
    padding: 0 64px;
  }

  &__author {
    text-transform: capitalize;
    transition: 0.35s;
    @include medium-desktops {
      font-size: 20px;
    }

    &:hover {
      color: $font-gold;
    }
  }

  &__text {
    @include medium-desktops {
      font-size: 20px;
    }
  }

  &__logo {
    width: 242px;
    height: 90px;
    background-color: $bcg-white;
    mask: url("../assets/svg/rss.svg") 0 0 / contain no-repeat;
    transition: 0.35s;

    &:hover {
      background-color: $bcg-gold;
    }
    @include medium-desktops {
      width: 160px;
    }
  }
}
