/* stylelint-disable color-named */

@keyframes rotate-appear {
  0% {
    opacity: 1;
    transform: rotate(0);
  }

  50% {
    opacity: 0;
    transform: rotate(360deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;

  @include flex(column, center, normal);

  background: url("../assets/img/bg.jpg") 0 0/cover no-repeat;
}

.content {

  @include flex(row, center,center);
}

.list {
  padding: 0;
  list-style: none;
}

.item {

  @include only-flex;
}

.container {
  max-width: 1920px;
  padding: 0 20px;
  margin: 0 auto;
}

.heading {
  margin: 0;
  color: #ffffff;
  font: 400 25px $font-heading;
  text-decoration: none;
}

.text {
  color: #ffffff;
  font: 24px $font-text;
  text-decoration: none;
}

.icon {
  display: inline-block;
}

.button {
  border: none;
  outline: none;

  &_state {
    &_rotate {
      animation: rotate-appear 1s;
    }
  }
}

$icons: sound audio, snow snow;
 
@each $item, $pic in $icons {
  .icon-#{$item} {
    width: 36px;
    height: 36px;
    background-color: $bcg-white;
    mask: url("../assets/svg/#{$pic}.svg") 0 0/cover no-repeat;
  }
}

.icon-snow {
  margin: 0 42px;
}

.icon-quit {
  position: absolute;
  z-index: 999;
  right: 30px;
  width: 15px;
  height: 15px;
  background-color: $bcg-white;
  cursor: pointer;
  mask: url("../assets/svg/quit.svg") center/contain no-repeat;
  opacity: 0.6;
  transition: 0.35s;

  &:hover {
    background-color: $bcg-green;
    opacity: 1;
  }
}

@each $item in bell, ball, pine, star, snowflake, bird-toy {
  .icon-#{$item} {
    width: 42px;
    height: 42px;
    background-color: $bcg-white;
    mask: url("../assets/svg/#{$item}.svg") center/contain no-repeat;
  }
}

.checkbox {
  position: absolute;
  z-index: -999;
  opacity: 0;
}