.footer {
    display: block;
    background-color: var(--bg-dark);

    &-container {
        position: relative;

        &:after {
            display: inline-block;
            position: absolute;
            content: "";
            bottom: 116px;
            left: 0;
            height: 3px;
            width: 100%;
            background-color: var(--bg-gray);

            @include largeDesktops() {
                bottom: 118px;
            }

            @include mediumDesktops() {
                bottom: 94px;
            }

            @include sPhones() {
                bottom: 90px;
            }
        }
    }

    &__content {
        padding: 74px 240px 0;

        @include flex(column);

        position: relative;

        @include media-custom(1919px) {
            padding: 48px 0 0;
            justify-content: space-between;
        }

        @include mediumDesktops() {
            padding: 38px 0 0;
        }
    }

    &-top {

        @include flex(row, center, initial);

        width: 100%;
        margin-bottom: 50px;

        @include mediumDesktops() {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 40px;
            padding-right: 89px;
        }

        @include reviews() {
            grid-template-columns: 1fr;
            padding-right: 0;
        }
    }

    &-bottom {
        @include flex(row, space-between, center);
        width: 100%;
        padding: 43px 0;

        @include mediumDesktops() {
            padding: 30px 0;
        }
    }

    &__logo {
        margin: 0;

        @include mediumDesktops() {
            grid-column: 1 / 1;
        }

        @include reviews() {
            grid-column: 1 / 1;
            margin-bottom: 27px;
        }

        @include sPhones() {
            justify-self: flex-start;
        }

        @include xsPhones() {
            justify-self: center;
        }

        &-pic {
            width: 49px;
            height: 26px;

            @include tablet() {
                margin: 0;
            }

            @include reviews() {
                width: 29px;
                height: 16px;
            }
        }

        &-link {
            display: flex;
            align-items: center;
            text-decoration: none;
        }
    }

    &__heading {
        font: normal 28px Forum;
        line-height: 50px;
        letter-spacing: 5px;
        margin-left: 20px;
        position: relative;
        top: 4px;
        left: 5px;
        text-transform: uppercase;
        color: var(--font-white);

        @include reviews() {
            font-size: 16px;
            line-height: 18px;
        }

        @include sPhones() {
            margin-left: 15px;
        }
    }

    &__nav {
        margin: 0 395px 0 145px;

        @include largeDesktops() {
            margin: 0 0 0 47px;
        }

        @include mediumDesktops() {
            margin-left: 0;
            grid-column: 2 / span 1;
        }

        @include reviews() {
            grid-column: 1 / span 1;
        }

        &-list {
            max-width: 366px;
            display: flex;
            flex-wrap: wrap;
            column-gap: 148px;
            position: relative;
            top: 3px;

            @include largeDesktops() {
                max-width: 313px;
                column-gap: 100px;
            }

            @include mediumDesktops() {
                margin: 0;
                width: 100%;
                max-width: none;
                column-gap: 164px;
            }

            @include reviews() {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: calc(100% / 4);
            }

            @include mPhones() {
                column-gap: calc(100% / 6);
            }

            @include xsPhones() {
                display: flex;
            }
        }

        &-item {
            margin: 0;
            width: calc(100% / 2);
            flex: 1;

            &:hover::after {
                filter: var(--filter-gold);
            }

            &:hover .text_elem_nav {
                color: var(--font-gold);
            }

            &:active .text_elem_nav {
                color: #7e6c51;
            }

            @include reviews() {
                width: calc(100% / 3);
            }

            @include sPhones() {
                width: 100%;
                flex: auto;
                text-align: center;

                &:nth-child(1) {
                    text-align: left;
                }

                &:nth-child(2) {
                    grid-area: 2 / 2 / span 1 / span 1;
                    //grid-column: 2 / span 1;
                    //grid-row: 2 / span 1;
                }

                &:nth-child(3) {
                    grid-area: 2 / 1 / span 1 / span 1;
                    text-align: left;
                    //grid-column: 1 / span 1;
                    //grid-row: 2 / span 1;
                }

                &:nth-child(5) {
                    text-align: left;
                    grid-area: 1 / 2 / span 1 / span 1;
                    //grid-column: 2 / span 1;
                    //grid-row: 1 / span 1;
                }

                &:nth-child(6) {
                    text-align: right;
                }
            }

            &:nth-child(4),
            &:nth-child(5) {

                @include sPhones() {
                    position: relative;
                    left: -5px;
                    text-align: center;
                }
            }
        }

        &-link {

            @include media-custom(1600px) {
                font-size: 22px;
                //line-height: 26px;
            }

            @include mediumDesktops() {
                font-size: 18px;
                //line-height: 21px;
            }

            @include reviews() {
                font-size: 16px;
                //line-height: 19px;
            }
        }
    }

    &__social {
        margin-right: 0;
        margin-bottom: 17px;

        @include largeDesktops() {
            margin-bottom: 12px;
        }

        @include mediumDesktops() {
            grid-column: 2 / span 1;
            margin-top: 40px;
            margin-bottom: 11px;
            width: 100%;
        }

        @include reviews() {
            grid-column: 1 / span 1;
            padding: 0 60px;
            column-gap: 5px;
        }

        @include sPhones() {
            margin-top: 29px;
        }

        @include xsPhones() {
            flex-direction: column;
            row-gap: 10px;
        }
    }

    &-text {
        font: 100 22px Roboto, sans-serif;
        line-height: 22px;
        letter-spacing: 2px;
        text-decoration: none;
        margin: 0;

        @include media-custom(1600px) {
            font-size: 22px;
        }

        @include reviews() {
            font-size: 16px;
        }
    }

    &__schoolname {

        @include reviews() {
            display: none;
        }
    }

    &__author {
        transition: 0.35s;

        &:hover {
            color: var(--font-gold);
        }

        &:active {
            color: #7E6C51;
        }
    }
}
