.footer {
    display: block;
    background-color: var(--bg-dark);

    &__content {
        padding: 74px 240px 0;
        @include flex(column);
        position: relative;

        &:after {
            display: inline-block;
            position: absolute;
            content: "";
            bottom: 119px;
            left: 0;
            height: 3px;
            width: 100%;
            background-color: var(--bg-gray); 
        }
    }

    &-top {
        @include flex(row, center, initial);
        margin-bottom: 50px
    }

    &-bottom {
        @include flex(row, space-between, center);
        width: 100%;
        padding: 46px 0;
    }

    &__logo {

        &-pic {
            background: url(assets/svg/logo.svg);
            width: 49px;
            height: 26px;
        }

        &-link {
            display: flex;
            align-items: center;
            text-decoration: none;
        }

    }

    &__heading {
        font: normal 28px Forum;
        line-height: 50px;
        letter-spacing: 5px;
        margin-left: 20px;
        position: relative;
        top: 4px;
        left: 5px;
        text-transform: uppercase;
        color: var(--font-white);
    }

    &__nav {
        margin: 0 395px 0 145px;

        &-list {
            max-width: 366px;
            display: flex;
            flex-wrap: wrap;
            column-gap: 148px;
            position: relative;
            top: 3px;
        }

        &-item {
            margin: 0;
            width: calc(100% / 2);
            flex: 1;
        }
    }

    &__social {
        display: flex;
        align-items: flex-end;
        column-gap: 25px;
        margin-bottom: 14px;

        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            border: 1px solid #666666;
            filter: drop-shadow(0px 0px 0px #666666);
            border-radius: 50px;
            width: 48px;
            height: 48px;
            transition: 0.25s linear;

            &:hover {
                border-color: var(--font-gold);

                & .icons {
                    filter: var(--filter-gold);
                }  
            }
        }
    }

    &-text {
        font: 100 22px Roboto, sans-serif;
        line-height: 22px;
        letter-spacing: 2px;
        text-decoration: none;
        margin: 0;
    }

    &__author {
        transition: 0.35s;

        &:hover {
            color: var(--font-gold);
        }

        &:active {
            color: #7E6C51;
        }

    }
}
