@import "../../local_modules/normalize.css/normalize";

//@import "../mixins/media";

@import "../mixins/flex";

@import "../utils/fonts";

@import "../utils/root";


html {
    scroll-behavior: smooth;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

label {
    margin: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.content {
    @include onlyFlex();
}

.list {
    @include onlyFlex();
    list-style-type: none;
}

.main {
    margin: -1px 0;
}

.text {
    &_elem_nav {
        position: relative;
        font: 200 22px Roboto;
        line-height: 50px;
        letter-spacing: 2px;
        color: var(--font-white);
        text-decoration: none;
        transition: 0.25s linear;

        &:hover {
            color: var(--font-gold);
        }

        &:active {
            color: #7E6C51;
        }
    }

    &_c {

        &_white {
            color: var(--font-white);
        }

        &_gray {
            color: var(--font-gray);
        }

        &_gold {
            color: var(--font-gold);
        }

        &_red {
            color: var(--font-red);
        }
    }

    &_size_sm {
        margin-top: 10px;
        display: block;
        font-size: 18px;
        line-height: 21px;
    }
}

.heading {
    font: normal 80px Forum;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.line:after {
    display: block;
    position: relative;
    content: "";
    margin: 25px 0 75px;
    height: 2px;
    width: 100%;
    background-color: var(--dark-red);
    transition: 0.25s linear;
}

.icons {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.25s linear;
}

$icons: youtube 23px 22px, instagram 20px 20px, facebook 12.5px 20px, twitter 20px 16.25px, pinterest 20px 20px;

@each $n, $w, $h in $icons {
    .--#{$n}-icon {
        background: url(../images/icons/icon_#{$n}.svg) no-repeat 0 0/cover;
        width: $w;
        height: $h;
    }
}

.btn_type_action {
    display: block;
    background: var(--dark-red);
    border: none;
    border-radius: 10px;
    padding: 24px 68px 25px 66px;
    margin: 0;
    cursor: pointer;
    transition: 0.25s linear;

    &:hover {
        background: var(--font-white);
    }

    &:hover span {
        color: var(--font-black);
    }

    span {
        font: 200 22px Roboto;
        font-family: Roboto;
        text-align: center;
        letter-spacing: 2px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}