@import "../../local_modules/normalize.css/normalize";

@import "../mixins/flex";

@import "../utils/fonts";

@import "../utils/root";

html {
    scroll-behavior: smooth;
}

@keyframes fromLeft {
    0% {
        left: -3000px;
    }

    100% {
        left: 50%;
    }
}

@keyframes toLeft {
    0% {
        left: 50%;
    }

    100% {
        left: -3000px;
    }
}

@keyframes navFromLeft {
    0% {
        left: -1100px;
    }

    100% {
        left: -00;
    }
}

@keyframes navToLeft {
    0% {
        left: -0;
    }

    100% {
        left: -1100px;
    }
}

@keyframes ripple {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    100% {
        opacity: 0;
        transform: scale(10);
    }
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

label {
    margin: 0;
}

a {
    color: var(--font-black);
    text-decoration: none;
}

img {
    width: 100%;
}

.active {
    display: flex !important;
}

.overlay {
    visibility: hidden;
    position: fixed;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    transition: 1s linear;
    opacity: 0;

    &_state_fadeIn {
        visibility: initial;
        opacity: 1;
        z-index: 1000;
    }
}

.container {
    max-width: 1920px;
    margin: 0 auto;

    @include media-custom(1919px) {
        padding: 0 20px;
    }
}

.content {

    @include onlyFlex();
}

.list {

    @include onlyFlex();

    list-style-type: none;
}

.main {
    margin: -1px 0;
}

.text {
    &_elem_nav {
        position: relative;
        font: 200 22px Roboto;
        line-height: 52px;
        letter-spacing: 2.2px;
        color: var(--font-white);
        text-decoration: none;
        transition: 0.25s linear;

        @include mediumDesktops() {
            line-height: 48px;
        }
    }

    &_c {
        &_white {
            color: var(--font-white);
        }

        &_gray {
            color: var(--font-gray);
        }

        &_gold {
            color: var(--font-gold);
        }

        &_red {
            color: var(--font-red);
        }
    }

    &_size_sm {
        margin-top: 10px;
        display: block;
        font-size: 18px;
        line-height: 21px;

        @include mediumDesktops() {
            font-size: 16px;
            line-height: 19px;
        }
    }

    &_margin {
        &_right {
            display: inline-flex;
            flex: 1;
            justify-content: flex-end;

            @include sPhones() {
                display: inline;
                flex: 0;
                margin: 0;
            }
        }

        &_left {

            @include reviews() {
                margin-left: 13px;
            }
        }
    }

    &_state {

        &_hidden {
            opacity: 0;
            font-size: 15px !important;
            transition: 0.35s;
        }

        &_invalid {
            opacity: 1;
            color: #ff0000;
        }
    }
}


.heading {
    font: normal 80px Forum;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;

    @include largeDesktops() {
        font-size: 50px;
        line-height: 75px;
    }

    @include mediumDesktops() {
        font-size: 40px;
        line-height: 60px;
    }

    @include reviews() {
        font-size: 28px;
        line-height: 40px;
    }
}

.line {
    &-break {

        @include largeDesktops() {
            display: none;
        }
    }

    &::after {
        display: block;
        position: relative;
        content: "";
        margin: 25px 0 75px;
        height: 3px;
        width: 100%;
        background-color: var(--dark-red);
        transition: 0.25s linear;

        @include largeDesktops() {
            margin: 22px 0 59px;
        }

        @include mediumDesktops() {
            margin-bottom: 40px;
        }

        @include reviews() {
            margin-top: 20px;
        }
    }
}

.icons {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.25s linear;
}

$icons: youtube 23px 22px, instagram 20px 20px, facebook 12.5px 20px, twitter 20px 16.25px, pinterest 20px 20px;

@each $n, $w, $h in $icons {
    .--#{$n}-icon {
        background: url(../images/icons/icon_#{$n}.svg) no-repeat 0 0/cover;
        width: $w;
        height: $h;
    }
}

.btn {
    &_align {

        @each $item in left, right {
            &_#{$item} {
                text-align: #{$item};
            }
        }
    }

    &_type {
        &_action {
            display: block;
            background: var(--dark-red);
            border: none;
            border-radius: 10px;
            padding: 24px 68px 25px 66px;
            margin: 0;
            cursor: pointer;
            transition: 0.25s linear;

            &:hover {
                background: var(--font-white);
            }

            &:hover span {
                color: var(--font-black);
            }

            span {
                font: 200 22px Roboto;
                font-family: Roboto;
                text-align: center;
                letter-spacing: 2px;

                @include media-custom(1600px) {
                    letter-spacing: 1.3px;
                }
            }
        }
    }

    &_size {
        &_s {
            font-size: 18px !important;
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

@each $el in header, footer {

    .#{$el}__social {
        display: flex;
        align-items: flex-end;
        column-gap: 25px;
        margin-bottom: 14px;

        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            border: 1px solid #666666;
            filter: drop-shadow(0 0 0 #666666);
            border-radius: 50px;
            width: 48px;
            height: 48px;
            transition: 0.25s linear;

            &:hover {
                border-color: var(--font-gold);

                & .icons {
                    filter: var(--filter-gold);
                }
            }
        }
    }
}
