.header {
    display: block;
    background-color: var(--bg-dark);

    &__content {

        @include flex(row, space-between, center);

        padding: 49px 240px 52px;

        @include media-custom(1600px) {
            padding: 49px 0 52px;
        }

        @include tablet() {
            padding: 35px 0 34px;
        }
    }

    &__logo {
        margin: 0;
        align-items: center;
        transition: 0.25s linear;

        &-pic {
            width: 49px;
            height: 26px;
        }

        &:hover {
            filter: var(--filter-gold);
        }

        &-link {
            display: flex;
            align-items: center;
            text-decoration: none;
        }
    }

    &__heading {
        font: normal 28px Forum;
        letter-spacing: 5px;
        line-height: 50px;
        top: 4px;
        position: relative;
        margin: 0;
        margin-left: 23px;
        text-transform: uppercase;
        color: var(--font-white);

        @include media-custom(1600px) {
            font-size: 28px;
            line-height: 31px;
        }

        @include tablet() {
            font-size: 28px;
            line-height: 50px;
        }

        @include sPhones() {
            font-size: 16px;
            line-height: 18px;
        }
    }

    &__nav {
        margin-right: 0;

        @include media-custom(1600px) {
            display: none;
        }

        @include media-custom(1600px) {
            position: absolute;
            top: 165px;
            left: -1000px;
            z-index: 9999;
            padding: 0 157px 287px 55px;
            display: block;
            background: var(--bg-dark);
            //left: 55px;

            @include tablet() {
                width: 100%;
                padding: 0 157px 287px;
            }

            @include portraitTablets() {
                top: 125px;
                padding: 0 55px 35px;
            }
        }

        &-pictures {
            margin: 35px 0;
            display: none;

            @include tablet() {
                display: grid;
                width: 100%;
                grid-row-gap: 20px;
                grid-column-gap: 20px;

                img {
                    width: 100%;
                }
            }

            @include mPhones() {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        &-pic:first-child {
            grid-column: 1 / span 2;

            @include mPhones() {
                grid-column: 1 / 1;
            }
        }

        &_state_fadeIn {
            left: 0;
            animation: 0.75s navFromLeft;
        }

        &_state_disabled {
            animation: 1s navToLeft;
        }

        &-list {
            column-gap: 55px;

            @include media-custom(1600px) {
                flex-direction: column;
                top: 0;
            }
        }

        &-item {
            position: relative;
            transition: 0.35s;
            cursor: pointer;

            &:hover::after {
                filter: var(--filter-gold);
            }

            &:hover .text_elem_nav {
                color: var(--font-gold);
            }

            &:active .text_elem_nav {
                color: #7e6c51;
            }

            @include media-custom(1600px) {
                margin: 0;
                transition: 0.35s;
                padding-right: 25px;

                &::after {
                    position: absolute;
                    top: 50%;
                    left: 120px;
                    content: "";
                    width: 7px;
                    height: 12px;
                    background: url(../images/icons/icon_arrow-left.svg);
                    transform: translate(-50%, -50%);
                    transition: 0.35s;
                }
            }
        }

        &-btn {
            display: none;
            margin-right: 0;
            width: 32px;
            height: 18px;
            mask: url(../images/icons/btn_hamburger.svg) no-repeat;
            background-color: var(--bg-white);
            transition: 0.75s;
            cursor: pointer;

            &:hover {
                background-color: var(--font-gold);
            }

            @include media-custom(1600px) {
                display: inline-block;
            }

            &_state {
                &_active {
                    mask: url(../images/icons/btn_nav_close.svg);
                    width: 25px;
                    height: 25px;
                    transform: rotate(360deg);
                }
            }
        }
    }

    &__social {
        display: none;

        &-item {
            margin: 0;
        }

        @include tablet() {

            @include flex();

            padding-top: 35px;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            column-gap: 5px;
        }

        &-link {

            @include xsPhones {
                width: 30px;
                height: 30px;
            }
        }
    }
}
