.header {
    display: block;
    background-color: var(--bg-dark);

    &__content {
        padding: 49px 160px 52px 240px;
    }

    &__logo {
        margin: 0;
        align-items: center;
        transition: 0.25s linear;

        &-pic {
            width: 49px;
            height: 26px;
        }

        &:hover {
            filter: var(--filter-gold);
        }

        &-link {
            display: flex;
            align-items: center;
            text-decoration: none;
        }
    }

    &__heading {
        font: normal 28px Forum;
        line-height: 50px;
        letter-spacing: 5px;
        line-height: 50px;
        top: 4px;
        position: relative;
        margin: 0;
        margin-left: 23px;
        text-transform: uppercase;
        color: var(--font-white);
    }

    &__nav-list {
        column-gap: 55px;
        margin-left: 387px;
    }
}