* {
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    padding: 0 20px;
    margin: 0 auto;
}

.content {

    @include onlyFlex();
}

.icon {
    display: inline-block;
    border: none;
    outline: none;

    &-settings {
        width: 36px;
        height: 36px;
        background-color: $bcg-color-white;
        justify-self: flex-end;
        mask: url("../assets/svg/icon-settings.svg");
        transition: $trans;

        &:hover {
            background-color: $bcg-color-pink;
            transform: rotate(90deg);
        }
    }

    &-logo-app {
        margin: 242px 0 165px;
    }

    &-left-arrow-exit {
        width: 10px;
        height: 20px;
        background-color: $bcg-color-white;
        mask: url("../assets/svg/icon-arrow-return.svg");
        transition: $trans;

        &:hover {
            background-color: $bcg-color-pink;
        }
    }

    &-cross-exit {
        width: 100%;
        max-width: 18px;
        height: 18px;
        background-color: $bcg-color-white;
        justify-self: flex-end;
        mask: url("../assets/svg/icon-quit.svg") 0 0/cover no-repeat;
        transition: $trans;

        &:hover {
            background-color: $bcg-color-pink;
        }
    }

    &-mute {
        width: 29px;
        height: 20px;
        background-color: $bcg-color-white;
        mask: url("../assets/svg/icon-mute.svg") 0 0/cover no-repeat;
        transition: $trans;

        &:hover {
            background-color: $bcg-color-pink;
        }
    }

    &-sound {
        width: 20px;
        height: 20px;
        background-color: $bcg-color-white;
        mask: url("../assets/svg/icon-sound.svg") 0 0/cover no-repeat;
        transition: $trans;

        &:hover {
            background-color: $bcg-color-pink;
        }
    }

    @each $btn in add, sub {
        &-#{$btn} {
            width: 33px;
            height: 33px;
            background-color: $bcg-color-white;
            mask: url(../assets/svg/icon-time-#{$btn}.svg) 0 0/cover no-repeat;
            transition: $trans;

            &:hover {
                background-color: $bcg-color-pink;
            }
        }
    }

    &-repeat {
        width: 25px;
        height: 25px;
        margin-right: 12px;
        background-color: $bcg-color-dark;
        mask: url("../assets/svg/icon-repeat.svg") 0 0/cover no-repeat;
        transition: $trans;
    }

    &_pos {
        &_abs {
            position: absolute;
            top: 30px;
            right: 30px;
        }
    }

    &_answer {
        position: absolute;
        bottom: 30px;
        left: 30px;
        width: 60px;
        height: 60px;
        background: no-repeat 0 0/cover;

        &_success {
            background-image: url("../assets/svg/icon-success.svg");
        }

        &_error {
            background-image: url("../assets/svg/icon-error.svg");
        }
    }
}

.text {
    text-decoration: none;

    &_color {
        &_white {
            color: $font-color-white;
        }

        &_pink {
            color: $font-color-pink;
        }

        &_dark {
            color: $font-color-dark;
        }
    }

    &_margin {
        &_horiz {
            margin: 0 79px 0 89px;
        }
    }
}

.button {
    padding: 20px 99px;
    border: 1px solid $border-color-white;
    border-radius: 60px;
    font: 500 22px $font-main;
    line-height: 22px;
    transition: $trans;
    user-select: none;

    &:hover {
        background-color: $bcg-color-white;
        color: $font-color-dark;
    }

    &:active {
        border-color: $border-color-pink;
        background-color: $bcg-color-pink;
        color: $font-color-dark;
    }

    &_bcg {
        &_initial {
            background-color: initial;
        }
    }
}

.logo-school {
    width: 85px;
    height: 31px;
    background: url("../assets/svg/logo-school.svg");
}

#root {
    height: 100vh;

    @include flex(column, center, space-between);


.heading {
    &__text {
        margin: 0;
        font: 500 34px $font-main;
        line-height: 28px;
    }
}

.list {
    padding: 0;
    list-style: none;
}
