
.footer {
    &__content {

        @include flex(column, flex-end, center);

        width: 100%;
        height: 30vh;
        min-height: 160px;
        padding: 20px;
    }

    &__quote {
        min-height: 32px;

        &-container {
            font-family: $font-main;
        }
    }

    &__author {
        min-height: 20px;
    }
}
