@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;

    @include reviews() {
        padding: 0 10px;
    }
}

body {
    min-height: 100vh;
    font-family: 16px $font-add, sans-serif;
    color: $font-color-white;
    text-align: center;
    background-blend-mode: multiply;
    transition: background-image 1s ease-in-out;
}

.icon {
    &-slider {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        cursor: pointer;
    }

    &-change-quote {
        margin-bottom: 30px;
        background-image: url("../assets/svg/reload.svg");
    }

    &-player,
    &-slider,
    &-change-quote {
        width: 32px;
        height: 32px;
        background-size: 32px 32px;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: 0;
        outline: 0;
        opacity: 0.8;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            opacity: 1;
        }

        &:active {
            transform: scale(1.1);
        }
    }

    &-weather {
        font-size: 44px;
    }
}

@each $name in play, play-prev, play-next {
    .#{$name} {
        background: url(../assets/svg/#{$name}.svg) 0/cover;
    }
}

.play {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;

    &.pause {
        background-image: url(../assets/svg/pause.svg);
    }
}

@each $name in prev, next {
    .slide-#{$name} {
        background-image: url(../assets/svg/slider-#{$name}.svg);
    }
}

.slide-next {
    right: 20px;
}

.slide-prev {
    left: 20px;
}

.disabled {
    display: none;
}

.appear {
    animation: appear 0.75s linear;
}

.hidden {
    opacity: 0 !important;
    z-index: -999;
}

.muted {
    color: rgb(207, 75, 75);
}

.text_font_main {
    font-family: $font-main;
}

.settings {
    position: absolute;
    left: 40px;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    mask: url(../assets/svg/settings.svg) 0/cover;
    background-color: $bcg-color-white;
    opacity: 0.8;
    transition: $trans;
    cursor: pointer;

    @include reviews() {
        left: 20px;
    }

    @include widjets() {
        bottom: 120px;
    }

    &:hover {
        transform: rotate(90deg);
    }

    &:active {
        opacity: 1;
    }
}
