.header {
    &__content {

        @include flex(row, space-between, flex-start);

        width: 100%;
        height: 30vh;
        min-height: 220px;
        padding: 20px;

        @include reviews() {
            flex-direction: column;
            align-items: center;
            height: auto;
        }
    }

    &__player {
        //visibility: hidden;
        transition: $trans-long;

        &-controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 120px;
        }

        &-item {
            //position: relative;
            //left: 40px;
            list-style-type: none;
            font-family: $font-main;
            text-align: left;
            transition: $trans;
            cursor: pointer;

            span {
                position: relative;
                left: 40px;
                z-index: -999;
            }

            &.pause::before {
                mask: url(../assets/svg/pause.svg) 0/cover;
            }

            &::before {
                content: "";
                position: absolute;
                //left: -40px;
                mask: url(../assets/svg/play.svg) 0/cover;
                width: 18px;
                height: 18px;
                background-color: $bcg-color-white;
                opacity: 0.8;
                transition: $trans;
            }

            &:hover {
                color: $font-color-orange;

                &::before {
                    background-color: $bcg-color-orange;
                }
            }
        }

        &-playlist {
            position: absolute;
            top: 110px;
            display: grid;
            z-index: 999;
            margin-top: 10px;
            row-gap: 10px;

            @include tablet() {
                display: none;
            }
        }

        &-mute {
            font-family: 'Arial', sans-serif;
            padding: 2px 4px;
            border: none;
            background: transparent;
            transition: $trans;
            color: $border-color-white;
            cursor: pointer;
            opacity: 0.8;

            &:hover {
                box-shadow: 0 0 10px 0 $bcg-color-orange;
                border-radius: 10px;
                text-shadow: 0 0 10px $border-color-white;
            }

            &:active {
                opacity: 1;
            }
        }
    }

    &__weather {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px;
        row-gap: 5px;
        width: 220px;
        min-height: 180px;
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 10px 5px $bcg-color-dark;
        font: 16px "Arial", sans-serif;
        text-align: left;
        transition: 0.75s;

        &-error {
            margin-top: -10px;
        }
    }

    &__description-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 12px;
    }
}

.play-item {
    position: relative;
    padding: 5px;
    padding-left: 20px;
    list-style: none;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

.input {
    &__city {
        width: 170px;
        height: 34px;
        padding: 5px;
        font-size: 20px;
        line-height: 24px;
        color: $font-color-white;
        border: 0;
        outline: 0;
        border-bottom: 1px solid $border-color-white;
        background-color: transparent;

        &::placeholder {
            font-size: 20px;
            color: $font-color-white;
            opacity: 0.6;
        }

        &.play-item:hover {
            opacity: 1;
        }
    }
}

.song {
    &_state {
        &_active {
            color: $font-color-orange;

            &::before {
                background-color: $bcg-color-orange;
            }
        }
    }
}
