.main {
    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40vh;
        min-height: 260px;
        padding: 20px;
    }

    &__time {
        min-height: 124px;
        margin-bottom: 10px;
        font: 100px $font-add;
        letter-spacing: -4px;
        transition: $trans-long;

        @include mediumDesktops() {
            font-size: 80px;
        }

        @include reviews() {
            min-height: 0;
        }

        @include widjets() {
            font-size: 52px;
        }
    }

    &__date {
        min-height: 28px;
        font: 24px $font-main;
        margin-bottom: 20px;
        transition: $trans-long;

        @include reviews() {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

    &__greeting-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        align-items: center;
        min-height: 48px;
        width: calc(100vw - 40px);
        font-size: 40px;
        transition: $trans-long;
    }

    &__greeting {
        flex: 1;
        padding: 10px;
        font-family: $font-main;
        text-align: right;

        @include reviews() {
            font-size: 22px;
        }

        @include widjets() {
            font-size: 16px;
        }
    }

    &__name {
        flex: 1;
        max-width: 50%;
        padding: 10px;
        font: 40px $font-main;
        text-align: left;
        color: $font-color-white;
        background-color: transparent;
        border: 0;
        outline: 0;

        @include reviews() {
            font-size: 22px;
        }

        @include widjets() {
            font-size: 16px;
        }

        &::placeholder {
            opacity: 0.6;
        }
    }
}
