:root {
    --bg-dark: #151719;
    --bg-blue: #24809E;
    --dark-red: #710707;
    --font-gold: #9d8665;
    --font-white: #ffffff;
    --font-black: #000000;
    --font-gold: #9D8665;
    --font1: 80px;
    --font2: 32px;
    --filter-gold: invert(56%) sepia(44%) saturate(278%) hue-rotate(356deg) brightness(89%) contrast(86%);
}

@keyframes twitching {
    0% {
        left: 0;
    }
    50% {
        left: -10px;
        color:var(--dark-red);
    }
    100% {
        left: 0;
        transform: scale(1);
    }
}

@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Bold.ttf);
    font-weight: 700;
}


@font-face {
    font-family: "Forum";
    src: url(assets/fonts/Forum-Regular.ttf);
    font-weight: 400;
}

* {
    margin: 0 auto;
    padding: 0;
}

.header {
    display: block;
    background-color: var(--bg-dark);
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

.content {
    display: flex;
}

.header__content {
    padding: 75px 240px 76px 216px;
}

.header__logo {
    margin: 0;
    display: flex;
    align-items: center;
    transition: 0.25s linear;
}

.header__logo:hover {
    filter: var(--filter-gold);
}

.list {
    display: flex;
    list-style-type: none;
}

.header__nav-list {
    column-gap: 76px;
    margin-left: 470px;
}

.text_elem_nav {
    position: relative;
    font: 200 22px Roboto;
    line-height: 50px;
    letter-spacing: 2px;
    color: var(--font-white);
    text-decoration: none;
    transition: 0.25s linear;
}

.text_elem_nav:hover {
    animation: twitching 0.25s linear;
}

.welcome {
    display: block;
    background-color: var(--bg-dark);
}

.welcome__content {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding: 113px 240px 246px 217px;
    z-index: 999;
}

.welcome__content::before {
    position: absolute;
    content: "";
    z-index: -999;
    bottom: 0;
    right: 23px;
    background-image: url(assets/img/louvre_bcg.jpg);
    width: 1215px;
    height: 750px;
}   

.text_c_white {
    color: var(--font-white);
}

.welcome__heading {
    font: normal 80px Forum;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.welcome__text {
    display: inline-block;
    font: 300 28px Roboto;
    line-height: 33px;
    letter-spacing: 2px;
    margin: 26px 0 76px;
}

.welcome__btn {
    display: block;
    background: var(--dark-red);
    border: none;
    border-radius: 10px;
    padding: 24px 68px 25px 69px;
    margin: 0;
    cursor: pointer;
    transition: 0.25s linear;
}

.welcome__btn:hover {
    background: var(--font-white);
}

.welcome__btn:hover .welcome__btn-text {
    color: var(--font-gold);
}

.welcome__btn-text {
    font: 200 22px Roboto;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 2px;
}

.visiting {
    display: block;
}

.visiting__content {
    padding: 75px 260px 75px 220px;
    flex-direction: column;
}

.visiting__heading::after {
    display: inline-block;
    position: relative;
    content: "";
    margin: 25px 0 69px;
    height: 3px;
    width: 100%;
    background-color: var(--dark-red);
}

.visiting__heading-text {
    font: normal 80px Forum;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;  
    color: var(--font-gold);
}

.visiting__cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    row-gap: 79px;
}

.visiting__cards-item {
    width: calc(100%/3);
    margin: 0;
    max-width: 440px;
    color: var(--font-black);
    text-decoration: none;
}

.visiting__cards-item:hover .visiting__cards-heading:after {
    width: 100%;
}

.visiting__cards-heading {
    margin: 25px 0 9px;
    font: normal 32px Forum;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.visiting__cards-heading:after {
    display: block;
    position: relative;
    content: "";
    margin: 5px 0 10px;
    height: 2px;
    width: 300px;
    background-color: var(--dark-red);
    transition: 0.25s linear;
}

.visiting__cards-info {
    font: 200 22px Roboto;
    line-height: 26px;
}

.text_size_sm {
    margin-top: 10px;
    display: block;
    font-size: 18px;
    line-height: 21px;
}

.explore {
    display: block;
    background-color: var(--bg-dark);
}

.explore__content {
    padding: 75px 220px;
    display: flex;
    justify-content: space-between;
}

.explore__heading {
    font: normal 80px Forum;
    line-height: 90px;letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--font-white);
}

.explore__heading:after {
    display: block;
    position: relative;
    content: "";
    margin: 25px 0 75px;
    height: 2px;
    width: 100%;
    background-color: var(--dark-red);
    transition: 0.25s linear;
}

.explore__info, .explore__pic {
    margin: 0;
}

.explore__text {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    font: 300 22px Roboto;
    line-height: 38px;
    color: var(--font-white);
    max-width: 660px;
}

.explore__text p {
    margin: 0;
}

.text_c_gold {
    color: var(--font-gold);
}

.explore__pic {
    margin-top: 15px;
}

.video {
    display: block;
}

.video__content {
    flex-direction: column;
    padding: 90px 220px 75px;
}

.video__pic {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(assets/img/video.jpg);
    width: 100%;
    height: 629px;
}

.video__btn-play {
    background-image: url(assets/svg/icons/btn_play.svg);
    width: 220px;
    height: 220px;
    cursor: pointer;
    transition: 0.25s linear;
}

.video__btn-play:hover {
    filter: var(--filter-gold);
}

.video__controls {
    display: flex;
    align-items: center;
    background-color: var(--bg-dark);
    width: calc(100% - 82px);
    padding: 28px 41px;
}

.btn_size_cover {
    background-size: cover;
    border: none;
    margin: 0;
    transition: 0.25s;
    cursor: pointer;
}

.btn_size_cover:hover {
    filter: var(--filter-gold);
}

.video__controls-prev {
    background: url(assets/svg/icons/btn_prev.svg);
    width: 27px;
    height: 30px;
}

.video__controls-play {
    margin: 0 41px;
    background: url(assets/svg/icons/btn_play_small.svg);
    width: 23px;
    height: 30px;
}

.video__controls-next {
    background: url(assets/svg/icons/btn_next.svg);
    width: 27px;
    height: 30px;
}

.video__controls-range {
    -webkit-appearance: none;
    background: linear-gradient(to right, var(--bg-blue) 0, var(--bg-blue) 47%, #c4c4c4 47%, #c4c4c4 100%);
    height: 8px;
}

.video__controls-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--font-white);
    cursor: w-resize;
    transition: 0.25s linear;
}

.video__controls-range:hover::-webkit-slider-thumb {
    transform: scale(1.3);
    background-color: var(--font-gold);
}

.range_elem_time {
    width: 820px;
    margin: 0 41px;
}

.range_elem_sound {
    width: 155px;
    margin: 0 48px 0 20px;
}

.video__controls-mute {
    background: url(assets/svg/icons/btn_sound.svg);
    width: 38px;
    height: 30px;
}

.video__controls-fullscreen {
    background: url(assets/svg/icons/btn_fullscreen.svg);
    width: 36px;
    height: 36px;
}

.video__info {
    display: flex;
    align-items: center;
    margin: 33px 0 0;
    column-gap: 115px;
}

.video__heading {
    font: normal 80px Forum;
    width: 100%;
    max-width: 606px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--font-gold);
}

.video__text {
    font: 300 22px Roboto; 
    line-height: 38px;
    color: var(--font-black);

}