:root {
    --bg-dark: #151719;
    --dark-red: #710707;
    --font-gold: #9d8665;
    --font-white: #ffffff;
    --font1: 80px;
    --font2: 32px;
    --filter-gold: invert(56%) sepia(44%) saturate(278%) hue-rotate(356deg) brightness(89%) contrast(86%);
}

@keyframes twitching {
    0% {
        left: 0;
    }
    50% {
        left: -10px;
        color:var(--dark-red);
    }
    100% {
        left: 0;
        transform: scale(1);
    }
}

@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Bold.ttf);
    font-weight: 700;
}


@font-face {
    font-family: "Forum";
    src: url(assets/fonts/Forum-Regular.ttf);
    font-weight: 400;
}

* {
    margin: 0 auto;
    padding: 0;
}

.header {
    display: block;
    background-color: var(--bg-dark);
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

.content {
    display: flex;
}

.header__content {
    padding: 74px 240px 76px 216px;
}

.header__logo {
    display: flex;
    align-items: center;
    transition: 0.25s linear;
}

.header__logo:hover {
    filter: var(--filter-gold);
}

.list {
    display: flex;
    list-style-type: none;
    column-gap: 76px;
}

.header__nav-list {
    margin-left: 525px;
}

.text_elem_nav {
    position: relative;
    font: 200 22px Roboto;
    line-height: 50px;
    letter-spacing: 2px;
    color: var(--font-white);
    text-decoration: none;
    transition: 0.25s linear;
}

.text_elem_nav:hover {
    animation: twitching 0.25s linear;
}

.welcome {
    display: block;
    background-color: var(--bg-dark);
}

.welcome__content {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding: 114px 240px 246px 217px;
    z-index: 999;
}

.welcome__content::before {
    position: absolute;
    content: "";
    z-index: -999;
    bottom: 0;
    right: -20px;
    background-image: url(assets/img/louvre_bcg.jpg);
    width: 1215px;
    height: 750px;
}   

.text_c_white {
    color: var(--font-white);
}

.welcome__heading {
    font: normal 80px Forum;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.welcome__text {
    display: inline-block;
    font: 300 28px Roboto;
    line-height: 33px;
    letter-spacing: 2px;
    margin: 26px 0 76px;
}

.welcome__btn {
    display: block;
    background: var(--dark-red);
    border: none;
    border-radius: 10px;
    padding: 24px 68px 25px 69px;
    margin: 0;
    cursor: pointer;
    transition: 0.25s linear;
}

.welcome__btn:hover {
    background: var(--font-white);
}

.welcome__btn:hover .welcome__btn-text {
    color: var(--font-gold);
}

.welcome__btn-text {
    font: 200 22px Roboto;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 2px;
}

