.header {
    &__player {

        @include flex(row, flex-start);

        gap: 10px 20px;
        width: 100%;
        display: grid;

        @include mediumDesktops() {
            grid-template-columns: repeat(2, minmax(0, 150px));
        }

        @include reviews() {
            justify-content: center;
            margin-bottom: 20px;
        }

        &-range {
            appearance: none;
            height: 3px;
            background: rgb(109, 109, 109);
            cursor: w-resize;

            &::-webkit-slider-thumb {
                appearance: none;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: rgb(212, 212, 212);
                border-color: 1px solid $border-color-gray;
                transition: 0.25s linear;

                &:active {
                    transform: scale(1.05);
                }

                @include media-custom(1600px) {
                    width: 13px;
                    height: 13px;
                }

                @include reviews() {
                    width: 10px;
                    height: 10px;
                }
            }

            &:hover::-webkit-slider-thumb {
                transform: scale(1.05);
            }
        }

        &-songName,
        &-currentTime,
        &-duration {
            font-family: $font-main;
        }

        &-currentTime {

            @include mediumDesktops() {
                text-align: right;
            }
        }

        &-duration {

            @include mediumDesktops() {
                text-align: left;
            }
        }

        &-songName {
            grid-area: 1 / 1 / 2 / span 6;

            @include mediumDesktops() {
                grid-column-end: span 3;
            }
        }
    }
}

.range {
    &_elem {
        &_duration {
            max-width: 200px;

            @include tablet() {
                grid-area: 3/ 1;
            }
        }

        &_sound {
            max-width: 70px;
            background: linear-gradient(to right, #8bc34a, 100%, #cf4b4b);
            opacity: 1;
            transition: $trans;
        }
    }
}
