
@keyframes smoothMove {
    10% {
        width: 15px;
        height: 15px;
    }

    25% {
        width: 10px;
        height: 10px;
        opacity: 0.5;
    }

    35% {
        width: 10px;
        height: 5px;
    }

    55% {
        width: 10px;
        height: 2px;
    }

    80% {
        width: 10px;
        height: 5px;
    }

    100% {
        width: 18px;
        height: 18px;
        opacity: 1;
    }
}

.settings {
    &__slider {
        &-track {
            position: relative;
            z-index: 999;

            @include flex();

            margin-left: 150px;
            width: 50px;
            height: 15px;
            background: $bcg-color-dark;
            opacity: 0.8;
            border: 1px solid $border-color-orange;
            border-radius: 30px;
            box-shadow: 0 0 8px -4px $box-shadow-gray;
            transition: all 0.75s cubic-bezier(1, 0.13, 0.15, 0.99), 0.5s box-shadow linear, 0.5s opacity linear;
            cursor: pointer;

            &_state_active {
                box-shadow: 0 0 8px 1px #ffc600;
                opacity: 1;
                background-color: #ffc600;
            }
        }

        &-thumb {
            position: absolute;
            left: -1px;
            width: 15px;
            height: 15px;
            background-color: $bcg-color-white;
            border-radius: 50%;
            cursor: pointer;
            transition: 1s cubic-bezier(1, 0.13, 0.15, 0.99);
            z-index: -9999;
        }
    }
}
